/* div {
        border: solid black;
        border
      } */

/* .navbar {
    background-color: rgba(255, 255, 255, 0.339);
} */
.eczarh1 {
  font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  color: rgb(18, 174, 230);
}

li {
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: rgb(18, 174, 230);
  }
li, .text-dark {
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: rgb(18, 174, 230);
    text-decoration: none;
  }

h3,
h6 {
  font-family: "Eczar", serif;
  font-weight: 400;
  color: white;
}

body {
  background-image: url(img/PinholeAbstracts-7.jpg);
    background-size: 100% 100%;
}
