


body {
  font-family: "Eczar", serif;
  background-image: url(img/PinholeAbstracts-7.jpg);
  background-size: 100% 100%;
}

.eczarh1 {
  font-family: "Eczar", serif;
  font-size: x-large;
  font-weight: 800;
  color: rgb(102, 159, 202);
}

/* li {
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: rgb(18, 174, 230);
  } */

h3 {
  font-family: "Eczar", serif;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

h5,
p {
  color: gray;
}

.card-title {
  font-family: "Eczar", serif;
  font-weight: 800;
  color: rgb(102, 159, 202);
}

#copyright {
  color: white;
  font-family: "Eczar", serif;
  font-weight: 800;
}

.navbar,
.nav-link {
  color: rgb(102, 159, 202);
}

.navbar a:hover {
  color: rgb(163, 195, 230);
}

.active {
  text-decoration-line: underline;
  
}

.active a:hover {
  
}

hr {
  color: white;
}