
body {
  font-family: "Eczar", serif;
  
}

.link {
  color: rgb(102, 159, 202) !important; 
  text-decoration: none;
}

.link:hover {
  color: rgb(163, 195, 230) !important;
}


.bg-image {
  background-image: url(img/PinholeAbstracts-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#headshot {
  width: 300px;

}

.eczarh1 {
  font-family: "Eczar", serif;
  font-size: x-large;
  font-weight: 800;
  color: rgb(102, 159, 202);
}

#biblioCard li{
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: gray;
    padding: .3em;
  } 

h3 {
  font-family: "Eczar", serif;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

h5,
p {
  color: gray;
}

h6 {
  color: gray;
}

.card-title {
  font-family: "Eczar", serif;
  font-weight: 800;
  color: rgb(102, 159, 202);
}

#copyright {
  color: white;
  font-family: "Eczar", serif;
  font-weight: 800;
}

.nav-link {
  color: rgb(102, 159, 202);
}

.navbar a:hover {
  color: rgb(163, 195, 230);
}

.active {
  text-decoration-line: underline;
  color: rgb(102, 159, 202);
}

hr {
  color: white;
}

.divide {
  color: gray;
  width: 75%;
}